html
{
    scroll-behavior: smooth;
    
}

/*--------------------Gallery-----------------------------------*/
.divborder
{
    background-color: #817a7a !important;
}

.gallery-tabs 
{
  text-align: center;
  padding: 30px 0 15px;
}

.tab-btn 
{
  background: none;
  border: none;
  font-size: 18px;
  margin: 0 15px;
  cursor: pointer;
  color: #ffffff;
  position: relative;
}

.tab-btn.active 
{
  color: #c0392b;
  font-weight: bold;
}

.tab-btn.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #c0392b;
  left: 0;
  bottom: -6px;
}


.gallery-grid 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}


.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  cursor: pointer;
  background: #fff;
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: white;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  padding: 15px 22px;
  pointer-events: none;
}


#lightbox 
{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#lightbox img,
#lightbox video 
{
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.close-btn 
{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* ---------------------Navbar--------------------- */
.navbar
{
    background-color: #fffDD0;
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease;
    border: 2px none black;
}

.navbarTags:hover 
{
    transform: translateY(-4px);
    color: red !important;
}


/* ---------------------Menu Slider--------------------- */
.offcanvas.custom-offcanvas
{
    width: 500px !important;
    background-color: rgb(252, 233, 233);
    font: Times;
    font-size: 15px;
}


/* ---------------------Fixes Whatsapp img --------------------- */
.whatsapp-img
{
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 35px;
    height: 35px;
    border: 0px solid black;
    border-radius: 50%;
}

.whatsapp-img:hover
{
    transform: scale(1.04);
    box-shadow: 0 0 15px #4d4d4d;
}

/* ---------------------Go Top Button--------------------- */
.go-top
{
    font-size: 15px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff6767;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    color: #ece6e6;

}
.go-top.active
{
    bottom: 20px;
    pointer-events: auto;
    opacity: 1;
}

.go-top:hover
{
    transform: scale(1.04);
    box-shadow: 0 0 15px #4d4d4d;
}


/* ---------------------Footer--------------------- */
.footer 
{
    background-color: #3A3A3A;
    color: rgb(255, 255, 255);
    padding: 20px 20px 20px;
    text-align: center;
    width: 100%;
}

.footer-top 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer-logo 
{
    width: 200px;
}

.social-icons 
{
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.social-icons i 
{
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i:hover 
{
    color: #ff4d4d;
    transform: scale(1.2);
}


.footer-line 
{
    margin: 25px auto 15px;
    width: 90%;
    border: none;
    border-top: 1px solid #555;
}

.footer-Text 
{
    font-size: 20px;
    color: rgb(255, 255, 255);
}


/* ---------------------Media Query--------------------- */
@media (max-width: 480px) 
{   
     .offcanvas.custom-offcanvas
    {
        width: 300px !important;
    }

}

