html
{
    scroll-behavior: smooth;
    
}

/* ---------------------Navbar--------------------- */
.navbar
{
    background-color: #fffDD0;
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease;
    border: 2px none black;
}

.navbarTags:hover 
{
    transform: translateY(-4px);
    color: red !important;
}


/* ---------------------Menu Slider--------------------- */
.offcanvas.custom-offcanvas
{
    width: 500px !important;
    background-color: rgb(252, 233, 233);
    font: Times;
    font-size: 15px;
}


/* ---------------------Fixes Whatsapp img --------------------- */
.whatsapp-img
{
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 35px;
    height: 35px;
    border: 0px solid black;
    border-radius: 50%;
}

.whatsapp-img:hover
{
    transform: scale(1.04);
    box-shadow: 0 0 15px #4d4d4d;
}

/* ---------------------Go Top Button--------------------- */
.go-top
{
    font-size: 15px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff6767;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    color: #ece6e6;

}
.go-top.active
{
    bottom: 20px;
    pointer-events: auto;
    opacity: 1;
}

.go-top:hover
{
    transform: scale(1.04);
    box-shadow: 0 0 15px #4d4d4d;
}


/* ---------------------Footer--------------------- */
.footer 
{
    background-color: #3A3A3A;
    color: rgb(255, 255, 255);
    padding: 20px 20px 20px;
    text-align: center;
    width: 100%;
}

.footer-top 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer-logo 
{
    width: 200px;
}

.social-icons 
{
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.social-icons i 
{
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i:hover 
{
    color: #ff4d4d;
    transform: scale(1.2);
}


.footer-line 
{
    margin: 25px auto 15px;
    width: 90%;
    border: none;
    border-top: 1px solid #555;
}

.footer-Text 
{
    font-size: 20px;
    color: rgb(255, 255, 255);
}


/* ---------------------Media Query--------------------- */
@media (max-width: 480px) 
{   
    .offcanvas.custom-offcanvas
    {
        width: 300px !important;
    }

}

